footer {
  background-color: #304268;
  width: 100%;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding-top: 38px;
  padding-bottom: 30px;
  position: relative;
  line-height: 30px;
}

.button-up {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  box-shadow: 2px 5px 5px #000;
    &:hover {
      background-color: black;
}
}


.orange {
  color: #f26002;
}
