.hero {
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;


    @media all and (min-width: 768px) {
      padding-left: 39px;
      padding-right: 39px;
    }
    @media all and (min-width: 1280px) {
      padding-left: 275px;
      padding-right: 275px;
    }
}

.btn {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.encabezado {
 text-align: center;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  text-align: center;

  @media all and (min-width: 768px) {
    font-size: 80px;
  }
  @media all and (min-width: 1280px) {
    font-size: 100px;
  }
}

.subtitle {
  font-size: 16px;

  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}


.button-down {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  bottom: 53px;
  transform: translateX(-50%);
  position: absolute;
    &:hover {
    background-color: black;
  }

  @media all and (min-width: 768px) {
    bottom: 45px;
  }
  @media all and (min-width: 1280px) {
    bottom: 13px;
  }
}
