.page2 {
  background-color: #eff9ff;
  font-family: $font;
  padding: 30px 15px 60px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

    @media all and (min-width: 768px) {
      font-size: 20px;
    }
    @media all and (min-width: 1280px) {
      padding: 60px 85px 60px 85px;
    }
}


.reasons-container {
  max-width: 184px;
  margin: 0 auto;

    @media all and (min-width: 768px) {
      max-width: 100%;
    }
}

.reasons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 18px;

    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 27px;
      font-size: 20px;
    }
}

li {
  padding-bottom: 45px;
}

.button-more {
  background-color: #f26002;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  line-height: 45px;
  display: inline-block;
   &:hover {
   color: #f26002;
   background-color: white;
   border: 1px solid #f26002;
   transition: color 0.8s linear 0.2s;
  }
}

.link-more {
  font-size: 20px;
  color: white;
  text-align: center;
}
