.page2 {
  background-color: #eff9ff;
  padding: 30px 15px 15px 15px;
  text-align: center;
}

.reasons-container {
  display: grid;
  grid-template-columns: 184px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: center;
  font-size: 18px;
}

li {
  list-style: none;
  padding-bottom: 45px;
}

.button-more {
  background-color: #f26002;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-more {
  font-size: 20px;
  color: white;
  text-align: center;
}
