@import "_head.scss";
@import "_page1.scss";
@import "_page2.scss";
@import "_footer.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 0;
}

h1, h2, h3, h4, p {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}


h2 {
  font-size: 24px;
  text-transform: capitalize;
  padding-bottom: 45px;
}



a:link, a:hover, a:visited {
    text-decoration: none;
}


.h3 {
  font-size: 18px;
}
