.hero {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
}

.encabezado {
  text-align: center;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 16px;
}

.button-down {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 50%;
  bottom: 53px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}

.button-down:hover {
  background-color: black;
}

.page1 {
  background-color: white;
  padding: 30px 15px 45px 15px;
  height: 40%;
  font-size: 18px;
}

.pblue {
  color: lightblue;
  font-size: 14px;
}

.button-go {
  color: #f26002;
  border: 2px solid;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
  text-decoration: none;
}

.button-go:hover {
  color: white;
  background-color: #f26002;
}

.page2 {
  background-color: #eff9ff;
  padding: 30px 15px 60px 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.reasons-container {
  max-width: 184px;
  margin: 0 auto;
}

.reasons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 18px;
}

li {
  padding-bottom: 45px;
}

.button-more {
  background-color: #f26002;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  line-height: 45px;
  display: inline-block;
}

.button-more:hover {
  color: #f26002;
  background-color: white;
  border: 1px solid #f26002;
}

.link-more {
  font-size: 20px;
  color: white;
  text-align: center;
}

footer {
  background-color: #304268;
  width: 100%;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding-top: 38px;
  padding-bottom: 30px;
  position: relative;
  line-height: 30px;
}

.button-up {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  -webkit-box-shadow: 2px 5px 5px #000;
  box-shadow: 2px 5px 5px #000;
}

.button-up:hover {
  background-color: black;
}

.orange {
  color: #f26002;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
}

h1,h2,h3,h4,p {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

h2 {
  font-size: 24px;
  text-transform: capitalize;
  padding-bottom: 45px;
}

a:link,a:hover,a:visited {
  text-decoration: none;
}

h3 {
  font-size: 18px;
}

@media all and (min-width: 768px) {
  .hero {
    padding-left: 39px;
    padding-right: 39px;
  }

  h1 {
    font-size: 80px;
  }

  .subtitle {
    font-size: 24px;
  }

  .button-down {
    bottom: 45px;
  }

  .page1 {
    padding: 30px 39px 60px 39px;
    font-size: 20px;
  }

  .button-go {
    width: 91px;
  }

  .page2 {
    padding: 60px 30px 60px 60px;
    font-size: 20px;
  }

  .reasons-container {
    max-width: 100%;
  }

  .reasons {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  h2 {
    font-size: 26px;
  }
}

@media all and (min-width: 1280px) {
  .hero {
    padding-left: 275px;
    padding-right: 275px;
  }

  h1 {
    font-size: 100px;
  }

  .button-down {
    bottom: 13px;
  }

  .page1 {
    padding: 60px 275px 60px 275px;
  }

  .pblue {
    font-size: 16px;
  }

  .button-go {
    width: 160px;
  }

  .page2 {
    padding: 60px 85px 60px 85px;
  }

  .reasons {
    padding: 60px 85px 60px 85px;
  }

  h2 {
    font-size: 32px;
  }
}

/*# sourceMappingURL=main.css.map */
